apiVersion: v1
kind: Pod
metadata:
  name: ace 
  labels:
    app: nginx
spec:       
   containers:
     - name: configmap-container
       image: manojreddyeidiko/configmap:latest
       env:
       - name: LICENSE
         value: accept
       - name: ACE_SERVER_NAME
         value: ACESERVER
       command: [ "/bin/bash", "-ce", "tail -f /dev/null" ]
       volumeMounts:
       - name: serverconf
         mountPath: /home/aceuser/initial-config/serverconf/
         volumeMounts:
       - name: odbcini
         mountPath: /home/aceuser/initial-config/odbcini
         volumeMounts:
       - name: truststore
         mountPath: /home/aceuser/initial-config/truststore.jks
         volumeMounts:
       - name: keystore
         mountPath: /home/aceuser/initial-config/keystore.jks
         volumeMounts:
       - name: setdbparms
         mountPath:  /home/aceuser/initial-config/setdbparms/

   volumes: 
     - name: serverconf
       configMap:
         name: serverconf
         defaultMode: 0777        
     - name: odbcini
       configMap:
         name: odbcini
         defaultMode: 0777
     - name: truststore
       configMap:
          name: truststore
          defaultMode: 0777
     - name: keystore
       configMap:
         name: keystore
         defaultMode: 0777
     - name: setdbparms
       secrets: 
         name: setdbparms 
         defaultMode: 0777  
   restartPolicy: Never
